.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffae2b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #8c52ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #eee7ef;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-image: url("https://cdn-icons-png.flaticon.com/512/1497/1497521.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/169/169367.png");
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}
